<ion-header>
  <ion-navbar color="primary">
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="loginForm" (submit)="submit($event)" novalidate>
      <ion-item>
        <ion-label floating>Email Address</ion-label>
        <ion-input formControlName="email" type="text" [(ngModel)]="user.email"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid && loginForm.controls.email.dirty">
        <p>
          Enter a valid email address
        </p>
      </ion-item>
      
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input formControlName="password" type="password" [(ngModel)]="user.password"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.dirty">
        <p>
          Password required
        </p>
      </ion-item>
    
      <button ion-button (click)="submit('login')" [disabled]="!loginForm.valid">Login</button>
      <button ion-button color="light" (click)="submit('register')" [disabled]="!loginForm.valid">Register</button>
  </form>
</ion-content>