.ios, .md {
 
    page-charts {
 
        .scroll-content {
            background-color: map-get($colors, light);
        }
 
        ion-card-header {
            font-weight: bold;
        }

        //this is so gross, refactor this to use CSS selectors WTF like ion-grid >ion-row> ion-col etc....
        ion-grid {
            ion-row {
                ion-col {
                    padding-bottom: 0;

                    button {
                        margin: 0;
                    }
                }
            }
        }
    }
}