<ion-header>

  <ion-navbar>
    <ion-title>Charts</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <canvas baseChart 
    [datasets]="barChartData" 
    [labels]="barChartLabels" 
    [options]="barChartOptions" 
    [legend]="barChartLegend"
    [chartType]="barChartType" 
    (chartHover)="chartHovered($event)" 
    (chartClick)="chartClicked($event)"
    *ngIf="barChartData">
  </canvas>
  <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"
          *ngIf="(pieChartData) ">
  </canvas>

  <ion-grid>
    <ion-row>
      <ion-col col-1 *ngFor="let log of yearInPixelData">
        <button tappable ion-button small [color]="log.color"></button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
